{{ attach_library('rain_theme/teaser') }}

{%
  set classes = [
    'teaser'
  ]
%}

{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<div {{ attributes|raw }}>
  {% if image  %}
    <div class="teaser__image">
      {{ image }}
    </div>
  {% endif %}
  <div class="teaser__content">
    {%
      include '@rain_theme/heading/heading.twig' with {
        "heading": {
          "title": title,
          "heading_level": "2",
          "url": link,
          "modifier": "teaser__title",
        }
      } only
    %}
    <div class="teaser__date">
      {{ authored_date }}
    </div>
    {% if summary  %}
      <div class="teaser__summary">
        {{ summary|raw }}
      </div>
    {% endif %}
    {% if link %}
      <a class="teaser__link" href="{{ link }}">Read more</a>
    {% endif %}
  </div>
</div>
