{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% if content.field_title %}
      <div class="container">
        {%
          include '@rain_theme/heading/heading.twig' with {
            "heading": {
              "title": content.field_title|field_value,
              "heading_level": "2",
              "modifier": "heading--section",
            },
          } only
        %}
      </div>
    {% endif %}
    {% if content.field_slider_item['#items']|length > 1 %}
      {% embed '@rain_theme/carousel/carousel.twig' with { content: content } only %}
        {% block carousel_items %}
          {% for i in content.field_slider_item['#items'] %}
            {{ content.field_slider_item[loop.index0] }}
          {% endfor %}
        {% endblock %}
      {% endembed %}
    {% else %}
      {{ content.field_slider_item }}
    {% endif %}
  {% endblock %}
</div>
