{#
/**
 * @file
 * Theme override for the "teaser" view mode.
 */
#}
{%
  include '@rain_theme/teaser/teaser.twig' with {
    title: label,
    summary: content.field_summary,
    link: url,
    image: content.field_thumbnail,
    authored_date: node.getCreatedTime|format_date('short_date'),
  } only
%}