{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'container'
  ]
%}

{# We triggering a full render of the content variable. #}
{% set rendered_content = content|render %}

{% set media_type = content.field_media['#items'].entity.bundle() %}

{% set layout = content.field_card_layout|field_value|render %}

{% set modifier_class = '' %}
{% if layout == 'wide' %}
  {% set modifier_class = 'card--wide' %}
{% elseif layout == 'wide_right' %}
  {% set modifier_class = 'card--wide card--media-right' %}
{% endif %}

{% set media_content = {
    image: media_type == 'image' ? content.field_media : null,
    video: media_type == 'video' ? content.field_media : null
  }
%}

{% set eyebrow_content = {
    text: content.field_short_title,
    modifier: 'card__eyebrow'
  }
%}

{% set heading_content = {
    title: content.field_title|field_value,
    icon: content.field_icon,
    heading_level: '2',
    modifier: 'card__title'
  }
%}

{% set subheading_content = {
    title: content.field_subhead|field_value,
    heading_level: '3',
    modifier: 'card__subhead'
  }
%}

{% set link = {
    url: content.field_link[0]['#url'],
    text: content.field_link[0]['#title']
  }
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% include '@rain_theme/card/card.twig' with {
          card: {
            modifier: modifier_class,
            media: media_content,
            eyebrow: eyebrow_content,
            heading: heading_content,
            subhead: subheading_content,
            summary_text: content.field_summary,
            link: link,
          }
        } only
      %}
    {% endblock %}
  </div>
{% endblock paragraph %}
