{{ attach_library('rain_theme/card') }}

<article class="card {{ card.modifier ? ' ' ~ card.modifier }}
  {{- attributes ? ' ' ~ attributes.class -}}">

  {% block card_media %}
    {% if card.media.image or card.media.video %}
      <div class="card__media">
        {% if card.media.image %}
          {{ card.media.image }}
        {% elseif card.media.video %}
          {{ card.media.video }}
        {% endif %}
          {{ card.media.caption }}
      </div>
    {% endif %}
  {% endblock %}

  <div class="card__content">
    {% if card.eyebrow %}
      {%
        include '@rain_theme/eyebrow/eyebrow.twig' with {
          "eyebrow": card.eyebrow
        } only
      %}
    {% endif %}

    {%
      include '@rain_theme/heading/heading.twig' with {
        "heading": card.heading
      } only
    %}

    {% if card.subhead.title %}
      {%
        include '@rain_theme/heading/heading.twig' with {
          "heading": card.subhead
        } only
      %}
    {% endif %}

    {% if card.summary_text %}
      {%
        include '@rain_theme/body-text/body-text.twig' with {
          "body_text": card.summary_text
        } only
      %}
    {% endif %}

    {% if card.link.url %}
      <a href="{{ card.link.url }}" class="card__link">{{ card.link.text }}</a>
    {% endif %}
  </div>

</article>
