{{ attach_library('rain_theme/carousel') }}

<section class="carousel__wrapper{{ attributes ? ' ' ~ attributes.class}}">
  <ul class="carousel__list carousel__slick">
    {% block carousel_items %}
      {% for item in list %}
        {%
          include '@rain_theme/carousel/carousel-item.twig' with {
            "item": item
          } only
        %}
      {% endfor %}
    {% endblock %}
  </ul>
</section>
