{#
This file matches output from Drupal, with some additions for the submit button.
#}

{{ attach_library('rain_theme/search-box') }}

<div class="search-api-page-block-form-search-results search-form search-block-form container-inline contextual-region block block-search-api-page block-search-api-page-form-block" data-drupal-selector="search-api-page-block-form-search-results" id="block-searchapipagesearchblockform">
  {% block content %}
    <form id="search-api-page-block-form-search-results">
      <div class="js-form-item form-item js-form-type-search form-type-search js-form-item-keys form-item-keys">
        <label for="{{ field_id|default('search') }}">{{ field_placeholder|default('Keyword Search'|t) }}</label>
        <input title="{{ 'Enter the terms you wish to search for.'|t }}" placeholder="{{ placeholder_text|default('Search Site') }}" data-drupal-selector="{{ field_id|default('search') }}" type="search" id="{{ field_id|default('search') }}" name="{{ field_name|default('Search'|t) }}" value="{{ query }}" size="60" maxlength="128" class="form-search" />
      </div>
      <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
        <button class="search__submit" type="submit" name="{{ field_submit_name|default('submit') }}">
          <span class="search__submit-icon">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 30 30" class="icon icon--search">
              <title>Search icon</title>
              <g>
                <path fill="#292929" d="M29.7,28.5l-7.3-7.3c2-2.2,3.1-5.2,3.1-8.4C25.6,5.7,19.8,0,12.8,0C5.7,0,0,5.7,0,12.8s5.7,12.8,12.8,12.8
                  c3.2,0,6.1-1.2,8.4-3.1l7.3,7.3c0.2,0.2,0.4,0.3,0.6,0.3c0.2,0,0.5-0.1,0.6-0.3C30.1,29.4,30.1,28.8,29.7,28.5z M1.8,12.8
                  c0-6.1,4.9-11,11-11c6.1,0,11,4.9,11,11s-4.9,11-11,11C6.7,23.8,1.8,18.9,1.8,12.8z"/>
              </g>
            </svg>
          </span>
          <span class="search__submit-text">
            {{ field_submit_text|default('Submit'|t) }}
          </span>
        </button>
      </div>
    </form>
  {% endblock %}
</div>
