{{ attach_library('rain_theme/utility-nav') }}

{% if links %}
  <div class="utility-nav">
    {% if links %}
      {%
        include '@rain_theme/menu/menu.twig' with
          {
            items: links
          } only
      %}
    {% endif %}
  </div>
{% endif %}
