{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
    'container'
  ]
%}

{% set layout = content.field_card_list_layout|field_value %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% if layout == 'carousel' %}
      {% embed '@rain_theme/card-carousel/card-carousel.twig' with { section_title: content.field_title|field_value, content: content } only %}
        {% block carousel_items %}
          {% for i in content.field_card['#items'] %}
            <li class="card-carousel-item">
              {{ content.field_card[loop.index0] }}
            </li>
          {% endfor %}
        {% endblock %}
      {% endembed %}
    {% else %}
      {% embed '@rain_theme/card-list/card-list.twig' with { section_title: content.field_title|field_value, content: content } only %}
        {% block card_items %}
          {% for i in content.field_card['#items'] %}
            <li class="card-list__item">
              {{ content.field_card[loop.index0] }}
            </li>
          {% endfor %}
        {% endblock %}
      {% endembed %}
      {% if content.field_link[0]['#url'] %}
        <div>
          {% include '@rain_theme/button/button.twig' with {
            "button": {
              "url": content.field_link[0]['#url'],
              "text": content.field_link[0]['#title']
            }
          } only %}
        </div>
      {% endif %}
    {% endif %}
  {% endblock %}
</div>
