{{ attach_library('rain_theme/site-footer') }}

<div class="site-footer footer{% if modifier %} {{ modifier }} {% endif %}
  {{- attributes.class ? attributes.class -}}">
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="site-footer__inner">
    <div class="site-footer__logo">
      {% if site_branding %}
        {%
          include '@rain_theme/site-branding/site-branding.twig' with {
            links: site_branding.link
          } only
        %}
      {% endif %}
    </div>
    <div class="site-footer__text">
      {% if text_block %}
        {%
          include '@rain_theme/body-text/body-text.twig' with {
            body_text: text_block
          } only
        %}
      {% endif %}
    </div>
    {% if social %}
      {%
        include '@rain_theme/social-menu/social-menu.twig' with
          {
            items: social
          }
      %}
    {% endif %}
  </div>
  <div class="site-footer__addendum">
    <div class="site-footer__inner">
      {{ "&copy; " ~ "now"|date("Y")}}, {{ copyright }}
      {% if menu_items %}
        {%
          include '@rain_theme/menu/menu.twig' with
            {
              items: menu_items,
              modifier: 'site-footer__menu',
            }
        %}
      {% endif %}
    </div>
  </div>
</footer>
