{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{{ attach_library('rain_theme/main-menu') }}

<section class="main-menu__container">
  <div class="main-menu__navicon">
    <button class="navicon">
      <span class="navicon__bar"></span>
      <span class="navicon__bar"></span>
      <span class="navicon__bar"></span>
      <span class="visually-hidden">{{ 'Show/Hide Main Menu'|t }}</span>
    </button>
    <span class="navicon__text">{{ 'Menu'|t }}</span>
  </div>

  {% import _self as menus %}

  {#
    We call a macro which calls itself to render the full tree.
    @see http://twig.sensiolabs.org/doc/tags/macro.html
  #}
  {{ menus.menu_links(items, attributes, 0) }}

  {#
    The drupal template will need to have this nav html added to wrap this.
    <nav class="main-menu" id="a11y-menu" aria-label="Main menu"></nav>
  #}

  {% macro menu_links(items, attributes) %}
    <nav class="main-menu" id="a11y-menu" aria-label="Main menu">
      {% import _self as menus %}
      {% if items %}
        <ul role="menu" class="nav menu list-reset">
          {% for item in items %}
            <li class="menu-item{{ item.below ? ' menu-item--has-submenu' }}{{ item.in_active_trail ? ' menu-item--active-trail' }}" role="menuitem">
              <a href="{{ item.url ? item.url : '#' }}"{{ item.in_active_trail ? ' class="is-active"' }} {{ item.below ? 'aria-expanded="false" aria-haspopup="true"'}}>{% if item.title %}{{ item.title }}{% else %}{{ item.text }}{% endif %}</a>

                {% if item.below %}
                  <button class="menu-item-toggle">
                    <svg aria-hidden="true" class="menu-item-toggle__icon" xmlns="http://www.w3.org/2000/svg" width="30" height="22" viewBox="0 0 30 22"><path fill="#FFFFFF" d="M0 22L15 0l15 22"/></svg>
                    <span class="menu-item-toggle__text">Show/Hide {% if item.title %}{{ item.title }}{% else %}{{ item.text }}{% endif %} Sublinks</span>
                  </button>
                  <ul role="submenu" class="nav_subnav menu__submenu list-reset">
                    {% for link in item.below %}
                      <li class="menu__submenu-item" role="menuitem">
                        <a href="{{ link.url ? link.url : '#' }}">{% if link.title %}{{ link.title }}{% else %}{{ link.text }}{% endif %}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}

            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </nav>
  {% endmacro %}
</section>
