{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class
  ]
%}
{% if (content.field_title) %}
  <div class="container">
    {%
      include '@rain_theme/heading/heading.twig' with {
        "heading": {
          "title": content.field_title|field_value,
          "heading_level": "2",
          "modifier": "heading--section",
        },
      } only
    %}
  </div>
{% endif %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {{ content|without('field_title') }}
  {% endblock %}
</div>

